body {
    margin: 0px;
}

.top-container {
    background-color: #F6E3C5;
    width: 200px;
    height: 200px;
    border: solid 10px;
    padding: 20px;
}

h1:first-child{
    margin-top: 0;
    
}

.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
    margin-left: 260px;
    border: solid 20px;
}

.bottom-container {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 500px;
    border: solid 10px;
}